#cabecalho {
  height: 70px;
  display: block;
  margin-bottom: 80px;
}
#cabecalho1 {
  height: 30px;
  display: flex;
}
#cabecalhoo1 {
  width: 50%;
  display: flex;
  text-align: left;
}
#cabecalhoo2 {
  align-items: right;
  width: 50%;
  text-align: right;
}
#cabecalho2 {
  height: 40px;
  padding-left: 10px;
}
#imgCaraPulando {
  width: 50px;
}
#pbike {
  width: 20px;
  font-size: 19px;
  margin-top: 0;
  font-weight: bold;
}
#pgLogin {
  align-items: right;
  text-align: right;
  padding-right: 15px;
  font-style: italic;
}
#linkLogin {
  text-decoration: none;
  color: slategray;
  font-weight: bold;
}
#brCabecalho {
  height: 500px;
  background-color: aqua;
  color: aquamarine;
}

.imgLogoInverte {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(
    -1
  );
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  transform: scaleY(-1);
}
nav {
  margin-top: 10px;
  text-align: center;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #555;
}

/*FORMATAÇÃO PARA O BODY*/

body {
  width: 100%;
}
.imgText {
  width: 360px;
}
.ppreco {
  font-weight: bold;
}
.pTags {
  font-style: italic;
}
#vitrine {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item {
  margin: 10px;
  border: 2px solid #555;
  border-radius: 10px;
}
